# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore logs
*.log

# Ignore environment files
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore build artifacts
build/
dist/

# Ignore your IDE settings
.vscode/
.idea/

# Ignore Git Credential Manager logs
gcm-diagnose.log

